<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
    <h1>Contacts</h1>
        <form action="" method="post">
			<fieldset>
				<legend>Зарегистрируйтесь</legend>
				<p><label class="title" for="name">Ваше имя:</label>
					 <input type="text" name="name" id="name"><br/>
					 <label class="title" for="email">Ваш email:</label>
					 <input type="text" name="email" id="email"></p>
                     <label class="title" for="theme">Тема:</label>
					 <input type="text" name="theme" id="theme"><br/><p>
					 <label class="title" for="message">Сообщение:</label>
					 <input type="text" name="message" id="message"></p>
			</fieldset>
 	    <div class="submit"><input type="submit" value="Отправить" /></div>
    </form>
</body>
</html>