{% extends "base.html" %}
{% block title %}
	Главная
{% endblock %}
{% block menu %}
    {% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    <h1>Main</h1>
    	<div>
		<a href="/create-category/">Создать новую категорию</a>
	    </div>
	<div>
		<h1>Список существующих категорий</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span>Количество курсов: {{item.course_count()}}</span>
			<a href="/courses-list/?id={{item.id}}">Показать курсы</a>
        </li>
        {% endfor %}
	</div>
{% endblock %}
{% block form %}
    {% include "inc-form.html" %}
{% endblock %}